@import '../../App.scss';

.Galery{
  
   @extend %bg;
   border-top: 2px solid gray;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
position: relative;
   
    .Show{
        width:80vw;

        height:100%;
    }
    .SidePanel{
          width:20vw;
          min-width: 200px;
          height:100%;
          overflow: hidden;
    }
    @media only screen and (orientation:portrait)
    {
        flex-direction: column-reverse;
        
        .Show{
            width:100%;
            overflow: hidden;
            height:90vh;
        }
        .SidePanel{
              width:100%;
              height:10vh;
              
              overflow: hidden;
            
        }
    }
}