//colors
$mainColor:rgb(253, 253, 218);



//background
// $bg1:rgb(223, 176, 58);
$bg1:gray;



//font-family

$font1:'Roboto',sans-serif;
$introFont:'Dancing Script', cursive;
$font2:'Sansita Swashed', cursive;

//url


//with && height
$navHeight:6vh;
$mainHeight:100vh;
$mobileWidth:727px;
$carouselWidth:70vw;
$carouselWidthMobile:95vw;
