@import '../../Galery.scss';

.SidePanel{
    overflow: visible;
   z-index: 1231231233123;
     display:flex;flex-direction: column;
     justify-content: space-around;
     align-items: center;
    background-color: white ;
     .Card-container{
         position: relative;
         width:80%;
         height:22vh;
     }
     @media only screen and (orientation:portrait){
         .Card-container{
             display:none;
         }
         
     }
}